@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    /* translate-x: 50%; */
    transform: translate(-50%, -50%);    
  }


  body {
    background-color:#2D2424;
  }

  .table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .checkmark__circle {
    stroke-dasharray: 216;
    stroke-dashoffset: 216;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 98;
    stroke-dashoffset: 98;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 80px #7ac142;
    }
  }

  .crate{
    position: absolute;
    top: 0;
    left: 0;
    animation: rotateAndMove 4s both;
  }
  
  @keyframes rotateAndMove {
    0% {
      transform: rotate(0deg);
      top: 0;
    }
    25% {
      transform: rotate(180deg);
      top: -20px;
    }
    50% {
      transform: rotate(180deg);
      top: 150px;
    }

    100% {
      transform: rotate(180deg);
      top: 0;
    }

  }

/* 
  .crate {
    animation: turn 3s ease-in-out;
    transition: 1.5s;
    transform: rotate(180deg);
    animation: upDown 3s ease-in-out;
  }

  @keyframes upDown {
    25% {
      transform: rotate(90deg)
    }

    50% {
      transform: rotate(180deg)
    }

    75% {
      transform: translateY(-100px);
      transform: rotate(180deg);
    }

    100% {
      transform: translateY(100px), rotate(180deg);
      transform: rotate(180deg);
    }

  } 
   */



  