@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    /* translate-x: 50%; */
    transform: translate(-50%, -50%);    
  }


  .table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}